<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MWSM</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="hjljy" name="author">
    <meta content="一个极简的网址导航，聚合了多种搜索引擎，收录了各种常用网站。分类合理，内容齐全" name="description">
    <meta content="导航,网址导航,导航网站,常用网站,常用网址,程序员导航,设计导航,学习导航" name="keywords">
    <link href="./css/index.css" rel="stylesheet">
    <link href="./image/mwsm.png" rel="shortcut icon" type="image/png">
    <link href="./image/mwsm.png" rel="apple-touch-icon">

</head>

<body style="background-color:#f1f4ff;;">

    <div id="app">
        <div>
            <el-container>
                <el-main>
                    <div style="margin: 0 auto;
                    position: relative;">

                        <div style="text-align: right;">
                            <img src="./image/mwsm.png" alt="my web sitemap" style="height: 40px;">
                        </div>

                    </div>
                    <div>
                        <el-tabs v-model="activeName" style="max-width: 900px;margin: 0 auto;">
                            <el-tab-pane label="百度" name="first">
                                <el-input placeholder="百度一下，你就知道" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords('1')">
                                    </el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="必应" name="second">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(2)"></el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="图片" name="third">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(3)"></el-button>
                                </el-input>
                            </el-tab-pane>

                            <el-tab-pane label="翻译" name="fourth">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(4)"></el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="地图" name="five">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(5)"></el-button>
                                </el-input>
                            </el-tab-pane>
                        </el-tabs>
                    </div>

                    <div style="max-width: 900px;margin-top: 20px;margin-bottom: 0px;margin-left: auto;margin-right: auto;">
                        <el-row :gutter="20">
                            <el-col :span="24" :xs="24">
                                <el-card class="box-card">
                                    <div slot="header" class="clearfix">
                                        <span>常逛网站</span>
                                        <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                                    </div>
                                    <div v-for="(web,index) in webList" :key="index" class="text item">
                                        <el-col :span="4" :xs="12">
                                        <el-link :href="web.url" target="_blank">
                                            <div>
                                                <el-image style="width: 40px; height: 40px" :src="web.image">
                                                </el-image>
                                                <span style="text-align: center;">{{web.name}}</span> 
                                            </div>
                                          
                                            <div>
                                                <span >{{ web.desc }}</span>
                                            </div>
                                        </el-link>
                                          
                                    </el-col>
                                        
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>





                </el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </div>

    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/index.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {
                activeName: "first",
                keywords: "",
                webList: [
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "记录生活,链接点滴"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "记录生活的地方"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方"
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方"
                    }
                ]
            },
            methods: {
                searchWords(type) {
                    var jQuery = new XMLHttpRequest();
                    if (type == 1) {
                        window.open("https://www.baidu.com/s?wd=" + this.keywords)
                    } if (type == 2) {
                        window.open("https://cn.bing.com/search?q=" + this.keywords)
                    } if (type == 3) {
                        window.open("https://cn.bing.com/images/search?q=" + this.keywords)
                    } if (type == 4) {
                        window.open("https://cn.bing.com/dict/search?q=" + this.keywords)
                    } if (type == 5) {
                        window.open("https://cn.bing.com/maps?q=" + this.keywords)
                    }
                }
            }
        })
    </script>
    <style>
        .el-header,
        .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
        }



        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>

    </style>

</html>
