<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MWSM</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="hjljy" name="author">
    <meta content="一个极简的网址导航，聚合了多种搜索引擎，收录了各种常用网站。分类合理，内容齐全" name="description">
    <meta content="导航,网址导航,导航网站,常用网站,常用网址,程序员导航,设计导航,学习导航" name="keywords">
    <link href="./css/index.css" rel="stylesheet">
    <link href="./image/mwsm.png" rel="shortcut icon" type="image/png">
    <link href="./image/mwsm.png" rel="apple-touch-icon">

</head>

<body style="background-color:#f1f4ff;;">

    <div id="app">
        <div>
            <el-container>
                <el-main>
                    <div style="margin: 0 auto;
                    position: relative;">

                        <div style="text-align: right;">
                            <img src="./image/mwsm.png" alt="my web sitemap" style="height: 40px;">
                        </div>

                    </div>
                    <div>
                        <el-tabs v-model="activeName" style="max-width: 900px;margin: 0 auto;">
                            <el-tab-pane label="百度" name="first">
                                <el-input placeholder="百度一下，你就知道" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords('1')">
                                    </el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="必应" name="second">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(2)"></el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="图片" name="third">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(3)"></el-button>
                                </el-input>
                            </el-tab-pane>

                            <el-tab-pane label="翻译" name="fourth">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(4)"></el-button>
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="地图" name="five">
                                <el-input placeholder="微软Bing搜索" v-model="keywords" border-radius="0px">
                                    <el-button slot="append" icon="el-icon-search" @click="searchWords(5)"></el-button>
                                </el-input>
                            </el-tab-pane>
                        </el-tabs>
                    </div>

                    <div
                        style="max-width: 900px;margin-top: 20px;margin-bottom: 0px;margin-left: auto;margin-right: auto;">

                    
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>常逛网站</span>
                                    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                                </div>
                                <el-row :gutter="20" style="margin-bottom: 20px;">
                                <div v-for="(web,index) in webList" :key="index" class="text item">
                                    <el-col v-if="web.normol==1" :span="6" :xs="12">
                                        <el-link :href="web.url" target="_blank">
                                            <div>
                                                <img style="width: 30px; height: 30px;border-radius: 100%;"
                                                    :src="web.image">
                                                </img>
                                                <span style="margin: 5px 10px;font-size: large;"> {{web.name}}</span>
                                            </div>
                                            <div>
                                                <span>{{ web.desc }}</span>
                                            </div>
                                        </el-link>
                                    </el-col>
                                </div>
                                </el-row>
                            </el-card>
                            <div style="height: 20px;"></div>
                            <el-card class="box-card" style="margin-bottom: 20px;">
                                <div slot="header" class="clearfix">
                                    <span>社区博客</span>
                                    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                                </div>
                                <el-row :gutter="20" style="margin-bottom: 20px;">
                                    <div v-for="(web,index) in webList" :key="index" class="item">
                                        <el-col v-if="web.type==1" :span="6" :xs="12">
                                            <el-link :href="web.url" target="_blank">
                                                <div>
                                                    <img style="width: 30px; height: 30px;border-radius: 100%;"
                                                        :src="web.image">
                                                    </img>
                                                    <span style="margin: 5px 10px;font-size: large;">
                                                        {{web.name}}</span>
                                                </div>
                                                <div>
                                                    <span>{{ web.desc }}</span>
                                                </div>
                                            </el-link>
                                        </el-col>
                                        </el-rpw>
                                    </div>
                            </el-card>
                        </el-col>

                    </div>
                </el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </div>

    </div>

    <!-- <nav id="site-nav">
        <div class="float-left" id="nav-close"></div>
        <ul class="float-right" id="menu">
            <li><a href="https://wht.im/">首页</a></li>
            <li class="has-submenu"><a href="https://wht.im/#">社交</a>
                <ul class="submenu" style="display: none;">
                    <li><a href="https://jsthon.com/" target="_blank">Blog</a></li>
                    <li><a href="https://weibo.com/jsthon" target="_blank">Weibo</a></li>
                    <li><a href="https://zhuanlan.zhihu.com/wht-im" target="_blank">Zhihu</a></li>
                    <li><a href="https://github.com/wht-im" target="_blank">GitHub</a></li>
                </ul>
            </li>
            <li><a href="https://wht.im/contact.html">联系</a></li>
            <li><a href="https://wht.im/about.html">关于</a></li>
        </ul>
    </nav>
 
        <div class="works">
            <div class="work-link" style="opacity: 1;">
                <div class="container">
                    <div class="tab"><span class="common active">常用</span> <span class="amuse">娱乐</span> <span
                            class="study">学习</span> <span class="life">生活</span> <span class="tech">技术</span> <span
                            class="design">设计</span> <i class="icon-cog" id="setting-icon"></i></div>
                    <div class="info" style="">
                        <ul>
                            <li>热门</li>
                            <li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
                            <li><a href="https://www.google.com/" target="_blank">谷歌</a></li>
                            <li><a href="https://cn.bing.com/" target="_blank">必应</a></li>
                            <li><a href="https://www.sogou.com/" target="_blank">搜狗</a></li>
                            <li><a href="https://www.toutiao.com/" target="_blank">今日头条</a></li>
                            <li><a href="https://jandan.net/" target="_blank">煎蛋</a></li>
                            <li><a href="http://www.dgtle.com/" target="_blank">数字尾巴</a></li>
                        </ul>
                        <ul>
                            <li>社交</li>
                            <li><a href="https://www.weibo.com/" target="_blank">微博</a></li>
                            <li><a href="https://tieba.baidu.com/" target="_blank">贴吧</a></li>
                            <li><a href="https://www.zhihu.com/" target="_blank">知乎</a></li>
                            <li><a href="https://www.douban.com/" target="_blank">豆瓣</a></li>
                            <li><a href="https://www.v2ex.com/" target="_blank">V2EX</a></li>
                            <li><a href="https://www.jianshu.com/" target="_blank">简书</a></li>
                            <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                        </ul>
                        <ul>
                            <li>资讯</li>
                            <li><a href="https://www.163.com/" target="_blank">网易</a></li>
                            <li><a href="http://www.qq.com/" target="_blank">腾讯</a></li>
                            <li><a href="http://www.sina.com.cn/" target="_blank">新浪</a></li>
                            <li><a href="http://www.sohu.com/" target="_blank">搜狐</a></li>
                            <li><a href="http://www.ifeng.com/" target="_blank">凤凰网</a></li>
                            <li><a href="http://www.people.com.cn/" target="_blank">人民网</a></li>
                            <li><a href="http://xinhuanet.com/" target="_blank">新华网</a></li>
                        </ul>
                        <ul>
                            <li>购物</li>
                            <li><a href="https://www.taobao.com/" target="_blank">淘宝</a></li>
                            <li><a href="https://www.jd.com/" target="_blank">京东</a></li>
                            <li><a href="https://www.amazon.cn/" target="_blank">亚马逊</a></li>
                            <li><a href="https://www.suning.com/" target="_blank">苏宁易购</a></li>
                            <li><a href="https://you.163.com/" target="_blank">网易严选</a></li>
                            <li><a href="https://www.mi.com/" target="_blank">小米商城</a></li>
                            <li><a href="https://www.smzdm.com/" target="_blank">什么值得买</a></li>
                        </ul>
                        <ul>
                            <li>视频</li>
                            <li><a href="https://www.youku.com/" target="_blank">优酷</a></li>
                            <li><a href="https://www.iqiyi.com/" target="_blank">爱奇艺</a></li>
                            <li><a href="https://v.qq.com/" target="_blank">腾讯视频</a></li>
                            <li><a href="https://www.bilibili.com/" target="_blank">哔哩哔哩</a></li>
                            <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                            <li><a href="https://www.douyu.com/" target="_blank">斗鱼直播</a></li>
                            <li><a href="https://www.huya.com/" target="_blank">虎牙直播</a></li>
                        </ul>
                        <ul>
                            <ul>
                                <li>校园</li>
                                <li><a href="https://www.tsinghua.edu.cn/" target="_blank">清华主页</a></li>
                                <li><a href="http://its.tsinghua.edu.cn/" target="_blank">信息系统</a></li>
                                <li><a href="http://lib.tsinghua.edu.cn/dra/" target="_blank">图书馆</a></li>
                                <li><a href="http://mails.tsinghua.edu.cn/" target="_blank">清华邮箱</a></li>
                                <li><a href="https://sslvpn.tsinghua.edu.cn/" target="_blank">SSLVPN</a></li>
                                <li><a href="http://learn.tsinghua.edu.cn/" target="_blank">网络课堂</a></li>
                                <li><a href="http://www.thubbs.cn/" target="_blank">清华园</a></li>
                            </ul>
                        </ul>
                        <ul>
                            <li>生活</li>
                            <li><a href="https://www.meituan.com/" target="_blank">美团</a></li>
                            <li><a href="https://www.dianping.com/" target="_blank">大众点评</a></li>
                            <li><a href="https://www.ctrip.com/" target="_blank">携程</a></li>
                            <li><a href="https://www.qunar.com/" target="_blank">去哪儿</a></li>
                            <li><a href="https://www.alitrip.com/" target="_blank">飞猪</a></li>
                            <li><a href="https://kyfw.12306.cn/otn/index/init" target="_blank">12306</a></li>
                            <li><a href="https://www.mafengwo.cn/" target="_blank">马蜂窝</a></li>
                        </ul>
                        <ul>
                            <li>便捷</li>
                            <li><a href="https://fanyi.baidu.com/" target="_blank">词典翻译</a></li>
                            <li><a href="http://www.weather.com.cn/live/" target="_blank">天气预报</a></li>
                            <li><a href="https://www.kuaidi100.com/" target="_blank">快递查询</a></li>
                            <li><a href="https://cn.office-converter.com/" target="_blank">在线转换</a></li>
                            <li><a href="https://send.firefox.com/" target="_blank">临时网盘</a></li>
                            <li><a href="https://wx.qq.com/" target="_blank">网页微信</a></li>
                            <li><a href="https://mail.qq.com/" target="_blank">QQ邮箱</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
                <div class="entry work-entry"
                    style="width: 400px; height: 320px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; position: absolute; left: 800px; top: 0px;">
                    <a href="https://jsthon.com/">
                        <div class="reveal">
                            <div class="entry-image imageBG" data-img="assets/img/works/index/thumb-2.jpg?v=v6ro80"
                                style="background-image: url(&quot;assets/img/works/index/thumb-2.jpg?v=v6ro80&quot;); background-size: cover; background-position: center center;">
                            </div>
                            <div class="info">
                                <div class="content">
                                    <div class="title">Jsthon</div>
                                    <div class="cat">作者的个人博客</div>
                                </div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
        <footer id="site-footer">
            <div class="container">
                <div class="copy">© <span id="current-year">2020</span>&nbsp;万花筒<br>一万个人眼里有一万个世界<br><a
                        href="http://beian.miit.gov.cn/" target="_blank">闽ICP备15021582号</a></div>
            </div>
        </footer>
    </div>


</body>-->


    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/index.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {
                activeName: "first",
                keywords: "",
                webList: [
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "SOLO博客社区,记录生活,链接点滴",
                        normol: 1,
                        type: 1
                    },
                    {
                        name: "B乎",
                        url: "https://www.zhihu.com/",
                        image: "https://static.zhihu.com/static/favicon.ico",
                        desc: "装逼如风，常伴吾身，且看且珍惜",
                        normol: 1,
                        type: 2
                    },
                    {
                        name: "今日热榜",
                        url: "https://tophub.today/",
                        image: "https://file.ipadown.com/tophub/assets/images/logo.png",
                        desc: "今日热榜，追踪全网热点！",
                        normol: 1,
                        type: 2
                    },
                    {
                        name: "V2EX",
                        url: "https://www.v2ex.com/",
                        image: "https://www.v2ex.com/static/img/icon_rayps_64.png",
                        desc: "V2EX 是一个关于分享和探索的地方",
                        normol: 1,
                        type: 1
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方asfasfsaafasfasfasdas",
                        normol: 0,
                        type: 1
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方afasfasfasfa",
                        normol: 0,
                        type: 1
                    },
                    {
                        name: "链滴",
                        url: "https://www.ld246.com/",
                        image: "https://static.ld246.com/images/favicon.png",
                        desc: "一个记录生活的地方ssafs",
                        normol: 0,
                        type: 1
                    }
                ]
            },
            methods: {
                searchWords(type) {
                    var jQuery = new XMLHttpRequest();
                    if (type == 1) {
                        window.open("https://www.baidu.com/s?wd=" + this.keywords)
                    } if (type == 2) {
                        window.open("https://cn.bing.com/search?q=" + this.keywords)
                    } if (type == 3) {
                        window.open("https://cn.bing.com/images/search?q=" + this.keywords)
                    } if (type == 4) {
                        window.open("https://cn.bing.com/dict/search?q=" + this.keywords)
                    } if (type == 5) {
                        window.open("https://cn.bing.com/maps?q=" + this.keywords)
                    }
                }
            }
        })
    </script>
    <style>
        .el-header,
        .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
        }



        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>

    </style>

</html>